body {
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.div-home {
    background-color: white;
    border-radius: 10px;
    margin: 20px;
}

.div-opts-task {
    /* display: none; */
}

.div-header {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 728px) {
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
        margin: 0px 100px 0px 100px;
    }

    .div-home {
        max-width: 600px;
    }

    .div-info {
        position: sticky;
        top: 0;
    }
    
    .div-tasks {
        width: 600px;
    }

    .btn-create-task {
        width: 400px;
    }
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 3px 0;
    box-sizing: border-box;
    border: 1px solid #B6B5B5;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

button[type=submit] {
    background-color: #262626;
}

.btn-first {
    background-color: #318fb5;
}

.btn-second {
    background-color: #ec524b;
}

.btn-create-task {
    background-color: #262626;
}

input:hover {
    transition: all ease-in-out .15s;
    border: 1px solid black;
}

button[type=submit]:hover {
    transition: all ease-in-out .15s;
    background-color: #101010;
}

.btn-first:hover {
    transition: all ease-in-out .15s;
    background-color: #226079;
}

.btn-second:hover {
    transition: all ease-in-out .15s;
    background-color: #7e2b2b;
}

.btn-create-task:hover {
    transition: all ease-in-out .15s;
    background-color: black;
}