body {
    font-family: 'Poppins', sans-serif;
    background-image: url("../images/teste1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.div-home {
    background-color: white;
    border-radius: 10px;
    margin: 20px;
}

@media screen and (min-width: 728px) {
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
        margin: 0px 100px 0px 100px;
    }

    .div-home {
        max-width: 600px;
    }

    .div-info {
        position: sticky;
        top: 0;
    }
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 3px 0;
    box-sizing: border-box;
    border: 1px solid #B6B5B5;
    border-radius: 5px;
}

button[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #262626;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

input:hover {
    transition: all ease-in-out .15s;
    border: 1px solid black;
}

button:hover {
    transition: all ease-in-out .15s;
    background-color: #101010;
}