body {
    font-family: 'Raleway', sans-serif;
    background-image: url("../images/fundo_principal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.div-login {
    max-width: 600px;
    min-width: 300px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.div-home {
    background-color: white;
}