::-webkit-scrollbar {
    width: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.div-home {
    background-color: #FFF;
    border-radius: 10px;
    margin: 20px;
}

.div-opts-task, .user-opt {
    display: none;
}

.div-header {
    display: flex; 
    justify-content: space-between;
}

.angle-user, .angle-task {
    transition: all ease-in-out .20s;
}

.flip {
    transform: rotate(-180deg);
    color: #818181;
}

@media screen and (min-width: 728px) {
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-start;
        margin: 0px 100px 0px 100px;
    }

    .div-home {
        max-width: 600px;
    }

    .div-info {
        position: sticky;
        top: 0;
    }
    
    .div-tasks {
        width: 600px;
    }

    .btn-create-task {
        width: 405px;
    }
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 3px 0;
    box-sizing: border-box;
    border: 1px solid #B6B5B5;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
}

.task-important {
    background-color: #bb2205;
    border-radius: 100px;
    width: 60px;
    height: 10px;
}

.btn-first {
    background-color: #FFF;
    border: 2px solid;
    border-color: #318fb5;
    color: #318fb5;
}

.btn-second {
    background-color: rgb(253, 253, 253);
    border: 2px solid;
    border-color: #ec524b;
    color: #ec524b;
}

.btn-third {
    background-color: rgb(253, 253, 253);
    border: 2px solid;
    border-color: #383838;
    color: #383838;
}

.btn-create-task {
    background-color: #262626;
}

.btn-goBack {
    background-color: #B6B5B5;
    color: #000;
}

.btn-login {
    background-color: #262626;
    color: #FFF;
}

.btn-login:hover {
    transition: all ease-in-out .15s;
    background-color: #141414;
    color: #FFF;
}

input:hover {
    transition: all ease-in-out .15s;
    border: 1px solid black;
}

.btn-first:hover {
    transition: all ease-in-out .20s;
    background-color: #318fb5;
    color: #FFF;
}

.btn-second:hover {
    transition: all ease-in-out .20s;
    background-color: #ec524b;
    color: #FFF;
}

.btn-third:hover {
    transition: all ease-in-out .20s;
    background-color: #383838;
    color: #FFF;
}

.btn-create-task:hover {
    transition: all ease-in-out .20s;
    background-color: black;
}

/* -- DARK MODE --*/

.dark-mode {
    background-color: #262626;
    color: #FFF;
}

.dark-hr {
    background-color: #FFF;
    opacity: 0.5;
}

.dark-create-task {
    background-color: #262626;
    border: 2px solid;
    border-color: #FFF;
    color: #FFF;
}

.dark-create-task:hover {
    transition: all ease-in-out .20s;
    background-color: #FFF;
    color: #262626;
}

.dark-first {
    opacity: 1;
    background-color: #79b6ce;
    border: 2px solid;
    border-color: #79b6ce;
    color: #FFF;
}

.dark-first:hover {
    transition: all ease-in-out .20s;
    border-color: #318fb5;
    color: #FFF;
}

.dark-second {
    background-color: #df7a75;
    border: 2px solid;
    border-color: #df7a75;
    color: #FFF;
}

.dark-second:hover {
    transition: all ease-in-out .20s;
    border-color: #ec524b;
    color: #FFF;
}

.dark-third {
    background-color: #262626;
    border: 2px solid;
    border-color: #FFF;
    color: #FFF;
}

.dark-third:hover {
    transition: all ease-in-out .20s;
    background-color: #FFF;
    color: #262626;
}
